<ul class="share-list" style="list-style:none;">
    <li>
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
            <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg>
        </a></li>

    <li><a href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}" rel="nofollow" target="_blank" title="Share on Facebook">
        <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use></svg>
    </a></li>

    <li><a href="http://www.reddit.com/submit?url={{ page.url | absolute_url }}&title={{ page.title  }}">
        <svg viewBox="0 0 474.45386 448.10001" class="svg-icon"><use xlink:href="{{ '/assets/reddit.svg#reddit' | relative_url }}"></use></svg>
    </a></li>

    <!--li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{page.url}}&title={{page.title}}&summary=&source={{ site.url }}">
        <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>
    </a></li-->
</ul>
