.editor_note{
    box-shadow: inset 15px 0 15px -5px #29627e;
    /* background-color: #8eccea; */
    padding: 25px;
}
.editor_note a{
    font-weight: bold;
}

article aside{
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}
