---
layout: default
---
<article class="post">

    <header class="post-header">
        {% assign author = site.data.authors[page.author] %}
        <h1 class="post-title">Author: {{ author.name | escape }}</h1>
        {%- if author.image -%}
            <p><img style="width:25%" src="{{ "/assets/images/staff" | relative_url}}/{{author.image}}" /></p>
        {%- endif -%}
        {%- if author.position -%}
            <h2 class="position">{{author.position}}</h2>
        {%- endif -%}
        {%- if author.url -%}
        <p><a href="{{ author.url }}" >{{author.url}}</a></p>
        {%- endif -%}

        {%- if author.social -%}
            Social Media:
            {%- include social-author.html -%}
        {%- endif -%}
        {%- if author.interests -%}

            {% if author.interests.size > 0 %}
                Interests:
                <ul class="interests">
                {% for interest in author.interests %}
                    <li>{{ interest }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {%- endif -%}
        <hr>
        <div class="post-content">
            {{ content }}
        </div>
    </header>

    {% assign filtered_posts = site.posts | where: 'author', page.author %}
    {% if filtered_posts.size > 0 %}
    <h2>Posts by {{author.name}}: {{ filtered_posts.size}}</h2>


    <ul>
        {% for post in filtered_posts %}

      <li class="post-list article">
       <a class="" href="{{ post.url | relative_url }}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="">{{ post.date | date: date_format }}</span>
        <h3>
            {{ post.title | escape }}
        </h3>

        <p class="article-excerpt">
            {% if post.description %}{{ post.description | strip_html | truncate: 167 }}
            {% else %}{{ post.excerpt | strip_html | truncate: 400}}
            {% endif %}
        </p>
       </a>
      </li>
        {% endfor %}
    </ul>
    {% endif %}

</article>
