---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <ol class="post-list">
        {% comment %}Get all posts that are the same category as this page{% endcomment %}
        {%- for post in site.categories[page.category] -%}
            <li class="article{% if forloop.index <=1 %} article--latest{% endif %}{% if post.draft %} article--draft{% endif %}">
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {% if post.image %}
                        <img class="feature_image" src={{post.image | relative_url}}>
                    {% endif %}
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <span class="post-meta">{{ post.date | date: date_format }}</span>
                    <h3>{{ post.title | escape }}</h3>

                    <p class="article-excerpt">
                    {% if post.description %}{{ post.description | strip_html | truncate: 167 }}
                    {% else %}{{ post.excerpt | strip_html | truncate: 167 }}
                    {% endif %}
                    </p>
                </a>
            </li>
        {%- endfor -%}
    </ol>
    {%- endif -%}
</div>
