---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      {% if page.feature_image %}
        <img itemprop="image" class="feature_image" src={{page.feature_image | relative_url}}>
      {% endif %}
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {% assign author = site.authors | where: 'short_name', page.author | first %}
      {%- if author -%}
      <div itemprop="author" itemscope itemtype="http://schema.org/Person" class="author_container">
          <a class="author_page" href="{{ author.url | relative_url}}">
        {%- if author.image -%}
           <img itemprop="image" style="width:15%" src="{{ "/assets/images/staff" | relative_url}}/{{author.image}}" />
        {%- endif -%}
        <p>By <span class="p-author h-card" itemprop="name">{{ author.name }}</span></p>
          </a>
      </div>
      {%- endif -%}</p>
      {% include share-buttons.html %}
      <span class=article_last-update>Last Update: {{ page.last_updated | default: page.date | date: "%B %d, %Y" }}</span>
      {%- if page.editor_note -%}
          <p class="editor_note"><em>Editor Note</em> <br> {{ page.editor_note }}</p>
      {%- endif -%}
  </header>

  <div class="post-content e-content wrapper" itemprop="articleBody">
    {% include toc.html html=content class="article_toc" id="article_toc" %}
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
